body {
    margin:0px;
    padding: 0px;
    background-color: #161616;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
    position: relative;
    background-image: url("../img/ralphie.png");
    background-repeat: no-repeat;
    background-size: 600px;
    background-position: right bottom;
    box-shadow: inset 86em 0px 25px #edf1fd, inset 0px -46px 20px -5px #edf1fd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: "Poppins";
}

.menu li a:hover, .active {
    background-color: #292929;
    color: #FFFFFF !important;
    transition: all ease 0.4s;
}

.name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
}

.name p:nth-child(1),
.name .details {
    color: #6c707c;
    font-size: 16px;
}

.name h1 {
    font-family: "Moonglade DEMO";
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}

.skills-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skills-text h2 {
    font-family: "Moonglade DEMO";
    font-size: 36px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}

.skills-text p {
    font-size: 16px;
    color: #6c707c
}

#projects {
    width: 100%;
    box-sizing: border-box;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 20px 2%;
}

.p-heading {
    font-family: Poppins;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.p-box {
    background-color: #1f1f1f;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
    position: relative;
    height: 40vh;
}

.p-b-container {
    width: 90%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.text-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(85, 85, 85);
    opacity: 0.5;
    display: none;
}

.p-box:hover .text-overlay {
    display: flex;
    cursor: pointer;
}

.p-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-info {
    width: 100%;
    height: 0%;
    color: #FFFFFF;
}

.p-info p {
    font-family: Poppins;
    font-size: 14px;
}

.p-info h2 {
    font-family: Poppins;
}

.p-info a {
    color: #FFFFFF;
    text-decoration: underline;
}

.p-info a:hover {
    color: rgb(168, 168, 168);
}

.website-link {
    margin-left: 10px;
}

#contact h1 {
    font-size: 2rem;
    color: #1e1e1e;
    font-family: Poppins;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
}

#contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #f4f7ff;
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.4);
}

#contact p {
    letter-spacing: 3px;
}

.contact-icons a {
    margin: 6px 12px;
}

.contact-icons i {
    color: rgba(18, 17, 17, 0.4);
    font-size: 18px;
}

.contact-icons a:hover i {
    color: #000;
    transition: all ease 0.5s;
}